/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #000000;
    --bg-footer: #222222;
    --exit: #e4060d;
    --bg-exit: #4a4a4a;
    --primary-color: #ffffff;
    --share: #4bc800;
}

.wrapper{
    height: 100vh;
    width: 100%;
    background-color:  black;
}

.debug{
    border: 1px solid white;
}

/* Header */
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--bg-color);
}

header{
    height: 30px;
    width: 100%;
    position: relative;
}

.white{
    color: var(--primary-color);
}

.header-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header-button{
    padding: 2px 5px;
    border-radius: 5px;
    background-color: var(--bg-exit);
}

i:only-child{
    transform: rotate(90deg);
}


/* main */

