/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #000000;
    --bg-footer: #222222;
    --exit: #e4060d;
    --bg-exit: #4a4a4a;
    --primary-color: #ffffff;
    --share: #4bc800;
}


.container{
    width: 1200px;
    margin: 0 auto;
}

.debug{
    border: 1px solid white;
}

/* Header */
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--bg-color);
    font-size: 10px;
    height: 100vh;
}

header{
    height: 30px;
    width: 100%;
    position: relative;
}

.white{
    color: var(--primary-color);
}

.header-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header-button{
    padding: 2px 5px;
    border-radius: 5px;
    background-color: var(--bg-exit);
}

/* main */

main{
    width: 100%;
    height: calc(100% - 90px);
    padding-bottom: 10px;
}

.card{
    width: calc((100% / 7) - 10px);
}

.margin-top{
    margin-top: 20px;
}

.main-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 0 5px;
}

img{
    width: 100%;
    display: block;
}

.image-container {
    position: relative;
    margin-top: 10px;
}

.person{
    position: absolute;
    bottom: 0px;
    background-color: var(--bg-color);
    opacity: 0.5;
    padding: 5px;
}

/* footer */
footer{
    background-color: var(--bg-footer);
    height: 70px;
    width: 100%;
}

footer i{
    font-size: 22px;
}

.footer-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.exit{
    color: var(--exit);
}

.central-button{
    justify-content: center;
   text-align: center;
}